{% extends "mainapp/base.html" %}

{% block title %}
Home
{% endblock %}

{%block content%}
<div>
    <div class="container pt-4"></div>
        <div class="row p-0 mt-4">
            <div class="col-lg-6 justify-content-center text-center mx-auto shadow p-0">
                <div class="alert alert-info">
                    <h3>Awesome CRM Tool Here!!!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}