{% extends "mainapp/base.html" %}

{% block title %}
Signup
{% endblock %}

{%block content%}
    <div class="container pt-4"></div>
        <div class="col-lg-4 mx-auto shadow p-0 mt-4">
            <div class="alert alert-info">
                <h3>Signup</h3>
            </div>
            <div class="p-4">
                <form action="/accounts/signup/" method="post"></form>
                    {% csrf_token %}
                        {{ form.as_p }}
                    <hr>
                    <input class="btn btn-success" type="submit" value="Create Account">
                </form>
            </div>  
        </div>
    </div>
{% endblock %}