{% extends "mainapp/base.html" %}

{% block title %}
Signout
{% endblock %}

{%block content%}
<div>
    <div class="container pt-4"></div>
        <div class="row p-0 mt-4">
            <div class="col-lg-6 justify-content-center text-center mx-auto shadow p-0">
                <div class="alert alert-info">
                    <h4>User Signed out Successfully</h4>
                    <p><a href="accountsapp/signin/">Click Here</a> to Sign In Again</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}