{% extends "mainapp/base.html" %}

{% block title %}
Signin
{% endblock %}

{%block content%}
    <div class="container pt-4">
        <div class="col-lg-4 mx-auto shadow p-0 mt-4">
            <div class="alert alert-info">
                <h3>Signin</h3>
            </div>
            <div class="p-4">
                <form action="/accounts/signin/" method="post"></form>
                    {% csrf_token %}
                    {{ signin_form.as_p }}
                    <hr>
                    <input type="submit" value="Sign In" class="btn btn-success">
                </form>
            </div>  
        </div>
    </div>
{% endblock %}